
.primary {
  background-color: var(--primary);
  color: var(--white);
}

.outlined {
  background-color: var(--white);
  color: var(--primary);
  border: 1px solid  var(--primary);
}

.text {
  background-color: transparent;
  color: var(--textAccent);
}