.app {
 width: 90%;
 margin: 2rem auto;
}
.main {
  margin-top: 30px;
}

section {
  margin-bottom: 20px;
}
.grey-tag {
  padding: 10px 20px;
  background-color: var(--tableBg);
  border: 1px solid var(--borderAccent);
  border-radius: 10px;
}
.info-modal-cta {
  width: 200px;
}